
@{
    ViewBag.Title = "Permission";
}
<h2>Permission</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Menu</th>
            <th>View</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Import</th>
            <th>Export</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Menu</th>
            <th>View</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Import</th>
            <th>Export</th>
        </tr>
    </tbody>
</table>
